.wrapper
  = render 'layouts/side-bar'
  .chat-main
    .main-header
      .current-group 
        %h2.current-group__name test-group1
        %ul.member-list
          Member：test-user
      .main-header__edit-btn Edit
    .messages
      .message1
        %p.messages__user test-user
        %p.messages__date 2019/xx/xx(d) h:m:s
        %p.messages__text こんにちは！
      .message2
        %p.messages__user test-user
        %p.messages__date 2019/xx/xx(d) h:m:s
        %p.messages__text さようなら！
    .form
      %form
        %input.form__message{placeholder: " type a message"}
        .form__icon
          %label.form__icon__image
            = fa_icon 'picture-o', class: 'icon'
        %input.form__submit-btn{value: 'Send', type: 'submit'}

 